#job-app {

    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    font-family: sans-serif;
    color: rgb(44, 51, 69);
}

h1 {
    padding-left: 10%;
    padding-top: 2%;
}
p {

    padding-left: 10%;
    padding-top: 2%;
}

body {
    background-color: rgb(224, 240, 253);
}
span {

    color: red;
}

form {
    padding-left: 10%;
}
input {
    width: 30%;
    height: 30px;
}
h3 {
    font-weight: lighter;
}

h5 {
    font-weight: lighter;
    margin-top: 2%;
}
#middle {
    padding-left: 10%;
    padding-top: 60px;
    padding-left: 53px;
}
#last {
    padding-left: 10%;
    padding-top: 60px;
    padding-left: 30px;
}
#full {
    display: flex;
    margin-left: 8%;
}
input {
    width: 150px;
}
 
#body {
    display: flex;
    margin-left: 10%;

}
#height-input {
    width: 200px;
}
#weight-input {
    width: 200px;
}


