body {
    background-color: #53bcf5;
}

#audio {
    text-align: center;
    border: 1;
    background-color: darkcyan;
    color: aliceblue;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#video {

    padding-top: 50px;
}