body {
    background-color: rgb(16, 26, 32);
    color: white;
    font-family: 'Arial', sans-serif;
}
.mr-nineteen {
    color: white;
    font-family: 'Arial Black', sans-serif;
    font-size: 20px;
    margin-left: 25px;
    text-align: center;
    padding-bottom: -10px;
}
.navigation__icons li {
    margin-left: 20px;
    margin-top: 15px;
    display: inline-block;
}
.navigation__items {
    list-style: none;
    margin-left: 25px;
}
.navigation_items {
    display: inline-block;
    margin: 15px 15px;
    font-size: 20px;
}
.navigation_items a {
    text-decoration: none;
    color: white;
}

.navigation_items a:hover {
    color: rgb(19, 135, 193);
}
.main-content-section {
    display: flex;
    margin-top: 80px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 60px;
}
.left-box h1 {
    font-size: 46px;
}
.left-box h3 {
    font-size: 20px;
    margin-top: -20px;
}
.left-box {
    width: 55%;
    /* border: 2px solid red; */
    height: 450px;
}
.right-box {
    width: 45%;
    /* border: 2px solid blue; */
    margin-left: 20%;
    /* height: 450px; */
}
.view-work-button, .get-in-touch-button {
    margin-top: 15px;    
    height: 50px;
    width: 150px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 35px;
}
.view-work-button:hover {
    background-color: rgb(14, 100, 144);
}
.view-work-button {
    background-color: rgb(19, 135, 193);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.get-in-touch-button {
    background-color: transparent;
    color: rgb(19, 135, 193);
    border-color: rgb(19, 135, 193);
    font-size: 16px;
    font-weight: bold;
    border-width: 2px;
}
.right-box img {
    width: 80%;
    border-radius: 10%;
    padding-right: 40px;
    height: auto;
    margin-top: -30px;
    object-fit: cover;
    object-position: center;
    background-color: transparent;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-footer h4{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.navigation__icons li img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
}
.navigation__icons li img:hover {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg);
}
.navigation__icons {
    list-style: none;
    margin-left: 30px;
}
.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}